#login {
    background: #124773;

    width: 100%;
    height: 100%;

    position: absolute;

    left: 0;
    top: 0;

    display: flex;

    .login-container {
        margin: auto;

        text-align: center;
        
        max-width: 320px;

        form {
            width: 100%;
        }

        input {
            display: block;

            margin: 6px 0;

            width: 100%;
        }

        button {
            width: 100%;
        }
    }
}
